<marquee width="100%" direction="right" height="50  px">
 <h1><strong>BOOKS</strong>  </h1>  
    </marquee>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BOOK STORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/showBook" aria-current="page" href="#">Show Book</a>
          </li>
        
         
        </ul>
       
      </div>
    </div>
  </nav>
<div class="pic">

</div>

<img src="assets/image/lib.jpg" width="100%" height="100%">
<div>

<button routerLink="/login" class="floating-right-bottom-btn">Admin</button>
<button routerLink="/userLogin" class="floating-right-bottom-btn-btn">User</button>
</div>

 
 
