<marquee width="100%" direction="right" height="50  px">
    <h1><strong>Book  Project</strong>  </h1>  
       </marquee>
   
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container-fluid">
         <a class="navbar-brand" href="#">BOOK STORE</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="#">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" routerLink="/showBook" aria-current="page" href="#">Show Book</a>
             </li>
           
            
           </ul>
          
         </div>
       </div>
     </nav>
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1>Book List</h1>
      <div class="d-flex">
       
      </div>
    </div>
  
  
  </nav>

  <table class="table mt-3">
      <thead>
          <tr>
              <th scope="col">Book ID</th>
              <th scope="col">Book Name</th>
              <th scope="col">Author Name</th>
              <th scope="col">Genre</th>
              <th scope="col">Year</th>
            
          

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of bookData">
            
              <td>{{row.id}}</td>
              <td>{{row.bookName}}</td>
              <td>{{row.author}}</td>
              <td>{{row.genre}}</td>
              <td>{{row.year}}</td>
             
             
          </tr>


      </tbody>
  </table>


